/**
 * 模板样式
 * Author: wb-jiangfeng
 * Time: 12-6-8 下午2:43 
 */
body{
    background:url(http://img02.taobaocdn.com/tps/i2/T10mfjXappXXc9H8sk-104-104.png)
}


/* main width */
.wide{
    width:1000px;
    margin:auto;
}
.oh{
    text-indent:-999em;
    overflow:hidden;
}

a:link{
    color:#333
}
a:visited{
    color:#333;
}
a:hover{
    color:#f60;
}

a.blue:link{
    color:#1a8dc6
}
a.blue:visited{
    color:#1a8dc6
}
a.blue:hover{
    color:#f60;
}
.h{color:#f60}  /* 橙色 */
.g{color:#666}  /* 深灰 */
.g2{color:#999} /* 浅灰 */
.red{color:#f00}    /* 红色 */
.c{clear:both}  /* 清除浮动 */

/* 弹出层 */
.tender{
    width:600px;
    border:1px solid  #d1d1d1;
    background: #fbfbfb;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.2);
}
.tender .title{
    height: 35px;
    background-color:#f60;
    line-height: 35px;
    padding:0 15px;
    color:#fff;

}
.tender .title b{
    font-size: 14px;
    float:left;
}
.title a.close{
    float:right;
    color:#fff;
}
.ks-overlay {
    position:absolute;
    left:-9999px;
    top:-9999px;
}
.ks-ext-mask{
    background-color: #666;
    opacity:0.4;
    filter:alpha(opacity=40);
}/**
 * 顶部样式
 * Author: wb-jiangfeng
 * Time: 12-6-8 14:25
 */
.top, .top a.logo, .top a.wh, .top li.issu a, .top li.find a, .top li a.userhead{
    background:url(http://img02.taobaocdn.com/tps/i2/T17uzlXoXpXXXtCfrZ-165-476.png) no-repeat
}
.top{
    width:100%;
    height:68px;
    background-repeat: repeat-x;
}
    .top a.logo{
        float:left;
        width:104px;
        height: 68px;
        display: block;
        text-indent: -999em;
        overflow:hidden;
        background-position:0 -136px;
    }
    .top a.wh{
        width:166px;
        height:68px;
        display:block;
        float:left;
        background-position: 0 -68px;
        margin:0 0 0 25px;
    }
    .top ul{
        float:right;
    }
        .top li{
            float:left;
            margin-left:-1px;
        }
            .top li a{
                color:#fff;
            }
            .top li.issu a, .top li.find a{
                width:92px;
                height: 68px;
                display:block;
                text-indent: -999em;
                overflow: hidden;
            }
            .top li.issu a{
                background-position:0 -204px;
            }
            .top li.issu a:hover{
                background-position:0 -272px ;
            }
            .top li.find a{
                background-position:0 -340px ;
            }
            .top li.find a:hover{
                background-position:0 -408px ;
            }
            .top li.user{
                padding:14px 0 0 18px;
                width:130px;
            }
                .top li a.userhead{
                    height: 30px;
                    width:30px;
                    display: block;
                    background-position:-135px -136px;
                    box-shadow:0 0 2px #ccc;
                    margin:4px 10px 0 0;
                    float:left;
                }
                .top li a.need{
                    display: block
                }
                .top li a.mying{
                    border:1px solid #dd4d06;
                    height: 24px;
                    width:100px;
                    text-align: center;
                    line-height: 24px;
                    background: #ea560c;
                    display: block;
                    text-shadow:1px 1px 0 #dd4d06;
                    margin-top:8px;
                    border-radius: 3px;

                }
/* 登录浮层 */
.login{
    width:340px;
    height: 300px;
    background-color: #fff;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.2);
}
.login iframe{
    width:340px;
    height: 300px;
}
    .login a.ks-ext-close{
        position:absolute;
        top:0;
        right:5px;
    }/**
 * 首页顶部大图和需求统计
 * Author: wb-jiangfeng
 * Time: 12-6-8 下午3:48 
 */
.index_top{
    background:url(http://img04.taobaocdn.com/tps/i4/T14tYeXfRyXXaY3JLX-2-278.png) repeat-x
}


.index_top{
    height:279px;
    width:100%;
    border-bottom:1px solid #e2e2e0;
}
    .index_swit{
        width:446px;
        height:248px;
        margin:16px 0 0 70px;
        float:left;
        _display:inline;
    }/**
 * 面包屑
 * Author: wb-jiangfeng
 * Time: 12-6-12 下午5:38 
 */

.history{
    width:970px;
    margin: auto;
    height: 50px;
    line-height: 50px;
}/**
 * 列表页面 左侧分类
 * Author: wb-jiangfeng
 * Time: 12-6-12 下午5:42 
 */
.main-list .l h5 span, .list-type ul li{
    background:url(http://img03.taobaocdn.com/tps/i3/T1rPbkXn4gXXaEEKA.-12-54.png) no-repeat;
}

.main-list{
    border:1px solid #dfdfdf;
    width:988px;
    margin:auto auto 50px;
    background-color: #fff;
}
    .main-list .l{
        width:188px;
        float:left;
        background: #ebebeb;
    }
        .main-list .l h4{
            height: 35px;
            line-height: 35px;
            background-color:#fa802d;
            color:#fff;
            text-indent:15px;
            font-size:14px;
            border-bottom: 1px solid #c8c8c8;
        }
        .list-type{

        }
            .list-type ul{
                display:none;
                padding-bottom:20px;
            }
                .list-type ul li{
                    height: 27px;
                    line-height: 27px;
                    text-indent:50px;
                    background-position: 34px -3px;
                }
            .list-type h5{
                border-top:1px solid #fff;
                border-bottom:1px solid #c8c8c8;
                background-color: #dfdfdf;
                height: 29px;
                line-height: 29px;
                cursor:pointer;
                font-weight: normal;
            }
                .main-list .l h5 span{
                    height:12px;
                    width:12px;
                    display: block;
                    float:left;
                    background-position:0 -42px;
                    margin:9px 7px 0 15px;
                }
                    .main-list .l .on h5 span{
                        background-position:0 -30px;
                    }
            .list-type h5:hover{
                background-color:#eaeaea;
            }
            .main-list .l .on{
                background:#f8f8f8;
            }
                .main-list .l .on ul{
                    display: block;
                }
                .main-list .l .on h5{
                    border-top:1px solid #f8f8f8;
                    border-bottom:1px solid #f8f8f8;
                    background-color: #f8f8f8;
                    height: 29px;
                    line-height: 29px;
                    cursor:pointer;
                    font-weight: bold;
                }
    .main-list .r{
        border-left:1px solid #dfdfdf;
        float:left;
        width:798px;
    }
        .rank{
            height:28px;
            background-color: #f5f5f5;
            border-bottom: 1px solid #dfdfdf;
            padding-top:7px;
        }
            .rank b{
                padding:0 20px 0 30px;
            }
            .list-disc{
                float:right
            }
                .rank select{
                    margin-right:10px;
                }
        .list-need{
            width:766px;
            margin:auto;
        }
            .list-need tr.first{
                border-bottom:1px solid #dfdfdf;
                height: 40px;
                line-height: 40px;
            }
            .list-need tr.on{
                background-color: #f6f7f8
            }
                .list-need tr.first th{
                    _border-bottom:1px solid #dfdfdf;
                }
            .list-need tr{
                border-bottom:1px solid #f6f6f6;
                height: 54px;
            }
                .list-need tr td{
                    _border-bottom:1px solid #f6f6f6;
                }
                .list-need td{
                    text-align: center;
                }
                .list-need td.price{
                    color:#f60;
                    font-family:arial,verdana;
                    font-weight: bold;

                }
                .list-need td.title{
                    text-align: left;
                }
                    .list-need td a.pub{
                        border:1px solid #e05e12;
                        display:block;
                        height: 19px;
                        padding:0 5px;
                        border-radius:3px;
                        background-color: #fa7727;
                        float:left;
                        color:#fff;
                        visibility: hidden;
                        text-shadow: 1px 1px 0 #e05e12;
                    }
            .list-need tr.on td a.pub{
                visibility:visible;
            }
/**
 * 翻页按钮样式
 * Author: wb-jiangfeng
 * Time: 12-6-21 上午11:17 
 */
.pagination{
    padding:20px 50px 20px 0;
    float: right
}
    .pagination a.pg-page, .pagination a.pg-prev, .pagination span.pg-current, .pagination a.pg-next{
        height: 23px;
        padding:0 9px;
        line-height: 23px;
        text-align: center;
        border:1px solid #bababa;
        background-color:#f7f7f7;
        color:#666;
        margin-right: 4px;
        display: block;
        box-shadow: 2px 2px 2px 0 #eee;
        border-radius: 3px;
        float:left;
    }
    .pagination a:hover{
        text-decoration: none;
    }
    .pagination a.pg-page:hover, .pagination a.pg-prev:hover, .pagination a.pg-next:hover{
        border:1px solid #f60;
        color:#f60;

    }
    .pagination span.pg-item{
        float:left;
        margin:0 5px;
    }
    .pagination span.pg-current{
        background-color: #fa7725;
        color:#fff;
        border:1px solid #de5f12;
        font-weight: bold;
        box-shadow: 1px 1px 4px 2px #e65c01 inset;
        text-shadow: 1px 1px 1px #de5f12;
    }
    .pagination a.pg-disabled, .pagination a.pg-disabled:hover{
        cursor: auto;
        border:1px solid #ccc;
        color:#ccc;
        background-color:#fff;
    }/**
 * 页脚样式
 * Author: wb-jiangfeng
 * Time: 12-6-8 13:59
 */
.g_foot{
    width: 960px;
    margin: 0 auto;
    font: 12px/1.5 tahoma,arial,"宋体";
    padding: 7px 0 9px;
    color: #b0b0b0;
    text-align: left !important;
    position: relative;
    clear:both;
}
.g_foot a{
    margin: 0 4px;
    color: #3e3e3e;
    text-decoration:none;
}
.g_foot a:hover{
    color: #F60;
    text-decoration: underline;

}
.g_foot-ali{
    margin-right: 100px;
    padding-left: 0;
    border-bottom: 1px solid #D3D3D3;
    padding-bottom: 8px;
}
.g_foot-nohover{
    cursor: default;
}
.g_foot-nohover:hover{
    color:#3e3e3e !important;
    text-decoration:none !important;
}
.g_foot-ali b {
    margin: 0 4px;
    color:#d3d3d3;
    font-weight: normal;
}
.g_foot-nav{
    margin-top: 8px;
    line-height: 20px;
}
.g_foot-nav span{
    margin-left: 50px;
}
.g_foot-toy{
    position: absolute;
    background: url(http://img01.taobaocdn.com/tps/i1/T1MMPaXkNjXXaXezbh-48-70.png) no-repeat;
    _background: url(http://img01.taobaocdn.com/tps/i1/T1XgzaXX0kXXaXezbh-48-70.png) no-repeat;
    width: 69px;
    height: 100px;
    display: block;
    right: 0px;
    top:0px;
}
/* IE9 only */
:root .g_foot-toy {
    right:-20px\9;
}
.g_foot-line{
    display: none;
    position: absolute;
    background: url(http://img01.taobaocdn.com/tps/i1/T1I_56Xl0wXXXXXXXX-104-1.png) no-repeat;
    width: 104px;
    height: 1px;
    right: 45px;
    top:33px;
}
