/**
 * 模板样式
 * Author: wb-jiangfeng
 * Time: 12-6-8 下午2:43 
 */
body{
    background:url(http://img02.taobaocdn.com/tps/i2/T10mfjXappXXc9H8sk-104-104.png)
}


/* main width */
.wide{
    width:1000px;
    margin:auto;
}
.oh{
    text-indent:-999em;
    overflow:hidden;
}

a:link{
    color:#333
}
a:visited{
    color:#333;
}
a:hover{
    color:#f60;
}

a.blue:link{
    color:#1a8dc6
}
a.blue:visited{
    color:#1a8dc6
}
a.blue:hover{
    color:#f60;
}
.h{color:#f60}  /* 橙色 */
.g{color:#666}  /* 深灰 */
.g2{color:#999} /* 浅灰 */
.red{color:#f00}    /* 红色 */
.c{clear:both}  /* 清除浮动 */

/* 弹出层 */
.tender{
    width:600px;
    border:1px solid  #d1d1d1;
    background: #fbfbfb;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.2);
}
.tender .title{
    height: 35px;
    background-color:#f60;
    line-height: 35px;
    padding:0 15px;
    color:#fff;

}
.tender .title b{
    font-size: 14px;
    float:left;
}
.title a.close{
    float:right;
    color:#fff;
}
.ks-overlay {
    position:absolute;
    left:-9999px;
    top:-9999px;
}
.ks-ext-mask{
    background-color: #666;
    opacity:0.4;
    filter:alpha(opacity=40);
}/**
 * 顶部样式
 * Author: wb-jiangfeng
 * Time: 12-6-8 14:25
 */
.top, .top a.logo, .top a.wh, .top li.issu a, .top li.find a, .top li a.userhead{
    background:url(http://img02.taobaocdn.com/tps/i2/T17uzlXoXpXXXtCfrZ-165-476.png) no-repeat
}
.top{
    width:100%;
    height:68px;
    background-repeat: repeat-x;
}
    .top a.logo{
        float:left;
        width:104px;
        height: 68px;
        display: block;
        text-indent: -999em;
        overflow:hidden;
        background-position:0 -136px;
    }
    .top a.wh{
        width:166px;
        height:68px;
        display:block;
        float:left;
        background-position: 0 -68px;
        margin:0 0 0 25px;
    }
    .top ul{
        float:right;
    }
        .top li{
            float:left;
            margin-left:-1px;
        }
            .top li a{
                color:#fff;
            }
            .top li.issu a, .top li.find a{
                width:92px;
                height: 68px;
                display:block;
                text-indent: -999em;
                overflow: hidden;
            }
            .top li.issu a{
                background-position:0 -204px;
            }
            .top li.issu a:hover{
                background-position:0 -272px ;
            }
            .top li.find a{
                background-position:0 -340px ;
            }
            .top li.find a:hover{
                background-position:0 -408px ;
            }
            .top li.user{
                padding:14px 0 0 18px;
                width:130px;
            }
                .top li a.userhead{
                    height: 30px;
                    width:30px;
                    display: block;
                    background-position:-135px -136px;
                    box-shadow:0 0 2px #ccc;
                    margin:4px 10px 0 0;
                    float:left;
                }
                .top li a.need{
                    display: block
                }
                .top li a.mying{
                    border:1px solid #dd4d06;
                    height: 24px;
                    width:100px;
                    text-align: center;
                    line-height: 24px;
                    background: #ea560c;
                    display: block;
                    text-shadow:1px 1px 0 #dd4d06;
                    margin-top:8px;
                    border-radius: 3px;

                }
/* 登录浮层 */
.login{
    width:340px;
    height: 300px;
    background-color: #fff;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.2);
}
.login iframe{
    width:340px;
    height: 300px;
}
    .login a.ks-ext-close{
        position:absolute;
        top:0;
        right:5px;
    }/**
 * 首页顶部大图和需求统计
 * Author: wb-jiangfeng
 * Time: 12-6-8 下午3:48 
 */
.index_top{
    background:url(http://img04.taobaocdn.com/tps/i4/T14tYeXfRyXXaY3JLX-2-278.png) repeat-x
}


.index_top{
    height:279px;
    width:100%;
    border-bottom:1px solid #e2e2e0;
}
    .index_swit{
        width:446px;
        height:248px;
        margin:16px 0 0 70px;
        float:left;
        _display:inline;
    }/**
 * 发布需求步骤
 * Author: wb-jiangfeng
 * Time: 12-6-11 下午4:19 
 */
.step, .step2, .step3{
    background:url(http://img03.taobaocdn.com/tps/i3/T1xVbjXiVtXXcarV3G-717-90.png) no-repeat;
    height:30px;
    width:717px;
    overflow:hidden;
}
.step2{
    background-position: 0 -30px;
}
.step3{
    background-position: 0 -60px;
}/**
 * 支付宝支付页面
 * Author: wb-jiangfeng
 * Time: 12-6-14 下午3:22 
 */
.pay_li .note{
    background:url(http://img02.taobaocdn.com/tps/i2/T1dmfkXe0fXXbhmJLt-97-36.png) no-repeat
}
.pay_li a.next{
    background:url(http://img01.taobaocdn.com/tps/i1/T1taHkXbdpXXX6w9.3-102-40.png) no-repeat
}
.pay{
    width:960px;
    margin:20px auto 80px auto;
}
    .pay_li{
        margin-top:50px;
    }
        .pay_li li{
            width:100%;
            float:left;
            line-height: 22px;
        }
            .pay_li label{
                padding-right:15px;
                float:left;
                color: #999999;
            }
            .pay_li .descr_demand{
                clear: both;
                padding-left: 20px;
            }
            .pay_li .descr_demand h2{
                margin-bottom: 5px;
                font-size: 14px;
            }
            .pay_li .descr_demand li p{
                color: #999999;
            }
            .pay_li .payment{
                border: 2px solid #ffeacb;
                float: left;
                width: 671px;
                padding: 20px;
                margin-bottom: 50px;
                *margin-bottom:0px;
            }
            .pay_li .payment .method{
                margin-top:20px;
            }
            .pay_li .payment label{
                  font-weight: bold;
                  font-size: 15px;
                  color: #000;
              }
            .pay_li .descr_freezing{
                clear:both;
                color: #999999;
            }
            .pay_li span.h{
                font-family:arial,verdana;
                font-weight: bold;
                font-size: 16px;
                float:left;
            }
            .pay_li .note{
                width: 100px;
                float:left;
                height:40px;
                background-position:0 0px;
            }
        .pay_li a.next{
            width: 102px;
            height: 40px;
            display: block;
            text-indent:-999em;
            overflow:hidden;
            float:left;
        }
        .pay_li .nextorreturn{
            clear: both;
            float: left;
            margin-top: 20px;
        }
        .pay_li div.return{
            width: 102px;
            float:left;
            padding-top: 9px;
            margin-left:22px;
            display: inline;
        }
            .pay_li div.return a.col_067bb1{
                color: #067bb1;
            }

/**
 * 页脚样式
 * Author: wb-jiangfeng
 * Time: 12-6-8 13:59
 */
.g_foot{
    width: 960px;
    margin: 0 auto;
    font: 12px/1.5 tahoma,arial,"宋体";
    padding: 7px 0 9px;
    color: #b0b0b0;
    text-align: left !important;
    position: relative;
    clear:both;
}
.g_foot a{
    margin: 0 4px;
    color: #3e3e3e;
    text-decoration:none;
}
.g_foot a:hover{
    color: #F60;
    text-decoration: underline;

}
.g_foot-ali{
    margin-right: 100px;
    padding-left: 0;
    border-bottom: 1px solid #D3D3D3;
    padding-bottom: 8px;
}
.g_foot-nohover{
    cursor: default;
}
.g_foot-nohover:hover{
    color:#3e3e3e !important;
    text-decoration:none !important;
}
.g_foot-ali b {
    margin: 0 4px;
    color:#d3d3d3;
    font-weight: normal;
}
.g_foot-nav{
    margin-top: 8px;
    line-height: 20px;
}
.g_foot-nav span{
    margin-left: 50px;
}
.g_foot-toy{
    position: absolute;
    background: url(http://img01.taobaocdn.com/tps/i1/T1MMPaXkNjXXaXezbh-48-70.png) no-repeat;
    _background: url(http://img01.taobaocdn.com/tps/i1/T1XgzaXX0kXXaXezbh-48-70.png) no-repeat;
    width: 69px;
    height: 100px;
    display: block;
    right: 0px;
    top:0px;
}
/* IE9 only */
:root .g_foot-toy {
    right:-20px\9;
}
.g_foot-line{
    display: none;
    position: absolute;
    background: url(http://img01.taobaocdn.com/tps/i1/T1I_56Xl0wXXXXXXXX-104-1.png) no-repeat;
    width: 104px;
    height: 1px;
    right: 45px;
    top:33px;
}
