/**
 * 右侧在线咨询 意见反馈 回到顶部按钮
 * Author: wb-jiangfeng
 * Time: 12-6-18 下午5:05 
 */
.sidetop, .sidetop a.totop:hover{
    background:url(http://img03.taobaocdn.com/tps/i3/T1_ivlXaFkXXcciYT8-48-262.png) no-repeat;
}
.sidetop{
    width:48px;
    position: fixed;
    right: 50px;
    top:200px;
    padding-top:53px;
    display: none;
}
    .sidetop a.adv, .sidetop a.idea{
        width:16px;
        height: 60px;
        display: block;
        text-decoration: none;
        line-height: 16px;
        font-weight: bold;
        margin-left: 20px;
        text-align: center;
    }
    .sidetop a.idea{
        font-weight: normal;
        margin:11px 0 8px 20px;
    }
    .sidetop a.totop{
        height:32px;
        width:28px;
        display:block;
        text-indent: -999em;
        overflow: hidden;
        margin: 10px 0 2px 15px;
    }
    .sidetop a.totop:hover{
        background-position:-15px -229px;
    }