/**
 * 有球必应 1212活动首页
 * @author: jfeng(wb-jiangfeng@taobao.com)
 * @time: 2012-11-15 18:51
 */
@import 'dpl';
.content-1212 .w990, .content-1212 .banner{
  background:$index-img;
}
.content-1212 .category a.circle, .content-1212 .category .circle span{
  background:$index-category-img-24;
  _background:$index-category-img;
}
.content-1212{
  background:#f3f3f3;
  border-bottom:1px solid #999;
  .w990{
    width:$w990;
    height:650px;
    margin:auto;
    background-position:center 445px;
  }
  .banner{
    height:111px;
    width:100%;
    margin-top:30px;
    display:inline-block;
    background-position:0 -205px;
    .user-nav{
      float:right;
      width:207px;
      padding:40px 5px 0 0;
      position:relative;
      *z-index:990;
    }
    // ul{
    //   float:right;
    //   width:207px;
    //   padding:40px 5px 0 0;
    //   position:relative;
    // }
    a{
      &:link, &:visited{
        color:#888;
      }
      &:hover{
        color:#f60;
      }
    }
    .ks-switchable-triger{
      float:left;
      width:62px;
      height:29px;
      padding-right:9px;
      line-height:29px;
      text-align:right;
      background:$arror-img 64px -6px;
      &:hover{
        background-position:64px 13px;
      }
    }
    .ks-switchable-triger:hover + .ks-switchable-panel{
      display:block;
    }
    .last{
      background:none;
      width:61px;
      padding:0;
    }
    .ks-switchable-panel{
      position:absolute;
      display:none;
      ul{
        padding-bottom:1px;
      }
      li{
        width:71px;
        height:26px;
        line-height: 26px;
        text-align: center;
      }
      &:hover{
        display:block;
      }
    }
    .trb1, .trb2{
      border:1px solid #e8e8e8;
      background-color:#fff;
      border-top:none;
      width:71px;
      top:67px;
      left:2px;
      z-index:990;
    }
    .trb2{
      left:74px;
    }
    // li{
    //   float:left;
    //   width:72px;
    //   text-align: center;
    //   span{
    //     width:60px;
    //     height:29px;
    //     line-height:29px;
    //     display:block;
    //     text-align: right;
    //     padding-right:11px;
    //     background:$arror-img 59px 13px;
    //   }
    //   dl{
    //     width:71px;
    //     background-color:#fff;
    //     border:1px solid #e8e8e8;
    //     border-top:none;
    //     float:left;
    //     margin:-2px 0 0 2px;
    //   }
      // a{
      //   &:link, &:visited{
      //     color:#888;
      //   }
      //   &:hover{
      //     color:#f60;
      //   }
      // }
    // }
  }
  .category{
    width:100%;
    height:500px;
    position:relative;
    *z-index:300;
    li, li .cts{
      position:absolute;
    }
    li .cts:hover{
      z-index:1000;
    }
    .circle{
      display:block;
    }
    .circle span{
      display:block;
      text-indent:-999em;
      overflow:hidden;
    }
  }
  .mz{
    height:231px;
    width:231px;
    top:37px;
    left:310px;
    z-index:100;
    a.circle{
      height:231px;
      width:231px;
      display:block;
      background-position:-231px 0;
      span{
        height:231px;
        width:231px;
        // -webkit-transition: all .3s ease-in-out;
      }
      &:hover{
        span{
          background-position:-231px 0;
          // -webkit-transform: scale(0);
        }
      }
    }
  }
  .cate-mz{
    height:230px;
    width:230px;
  }
  .c3{
    height:171px;
    width:171px;
    left:220px;
    top:290px;
    z-index:90;
    a.circle{
      height:171px;
      width:171px;
      display:block;
      background-position:-171px -435px;
      span{
        height:171px;
        width:171px;
        background-position:0 -435px;
      }
      &:hover{
        span{
          background-position:-171px -435px;
          // -webkit-transform: scale(0);
        }
      }
    }
  }
  .baby{
    height:194px;
    width:194px;
    left:570px;
    top:130px;
    z-index:80;
    a.circle{
      height:194px;
      width:194px;
      display:block;
      background-position:-194px -236px;
      span{
        height:194px;
        width:194px;
       background-position:0 -236px;
      }
      &:hover{
        span{
          background-position:-194px -236px;
          // -webkit-transform: scale(0);
        }
      }
    }
  }
  .jiadian{
    height:164px;
    width:164px;
    left:60px;
    top:130px;
    z-index:80;
    a.circle{
      height:164px;
      width:164px;
      display:block;
      background-position:0 -774px;
      span{
        height:164px;
        width:164px;
        background-position:0 -774px;
      }
      &:hover{
        span{
          background-position:-164px -774px;
          // -webkit-transform: scale(0);
        }
      }
    }
  }
  .baihuo{
    height:162px;
    width:162px;
    left:720px;
    top:280px;
    z-index:80;
    a.circle{
      height:162px;
      width:162px;
      display:block;
      background-position:0 -609px;
      span{
        height:162px;
        width:162px;
        background-position:0 -609px;
      }
      &:hover{
        span{
          background-position:-162px -609px;
          // -webkit-transform: scale(0);
        }
      }
    }
  }
  .jia{
    height:173px;
    width:173px;
    left:61px;
    top:213px;
    z-index:70;
    .circle{
      height:173px;
      width:173px;
      //border:2px solid #e8e8e8;
      //border-radius:170px;
      //background-color:#e8e8e8;
      background:$index-other-img24 -229px 0;
      _background:$index-other-img8 -229px 0;
      // span{
      //   width:63px;
      //   height:71px;
      //   background-position:-399px -236px;
      //   margin:55px 0 0 55px;
      // }
    }
  }
  .clothes{
    height:132px;
    width:132px;
    left:734px;
    top:75px;
    z-index:60;
    .circle{
      height:132px;
      width:132px;
      display:block;
      background:$index-other-img24 -164px -229px;
      _background:$index-other-img8 -164px -229px;
      // border:2px solid #e8e8e8;
      // border-radius:130px;
      // background-color:#e8e8e8;
      // span{
      //   width:59px;
      //   height:87px;
      //   background-position:-403px -319px;
      //   margin:20px 0 0 35px;
      // }
    }
  }
  .sport{
    height:164px;
    width:164px;
    left:555px;
    top:318px;
    z-index:50;
    .circle{
      height:164px;
      width:164px;
      display: block;
      background:$index-other-img24 0 -229px;
      _background:$index-other-img8 0 -229px;
      // border:2px solid #fff;
      // border-radius:162px;
      // background-color:#fff;
      // span{
      //   width:75px;
      //   height:93px;
      //   background-position:-345px -435px;
      //   margin:34px 0 0 43px;
      // }
    }
  }
  .othera{
    height:229px;
    width:229px;
    left:420px;
    top:50px;
    z-index:40;
    .circle{
      height:229px;
      width:229px;
      display:block;
      background:$index-other-img24 0 0;
      _background:$index-other-img8 0 0;
      // border:2px solid #e8e8e8;
      // border-radius:228px;
      // background-color:#e8e8e8;
    }
  }
  .otherb{
    height:100px;
    width:100px;
    left:480px;
    top:280px;
    z-index:40;
    .circle{
      height:100px;
      width:100px;
      display:block;
      background:$index-other-img24 -296px -173px;
      _background:$index-other-img8 -296px -173px;
      // border:2px solid #e8e8e8;
      // border-radius:98px;
      // background-color:#e8e8e8;
    }
  }
  .otherc{
    height:68px;
    width:68px;
    left:265px;
    top:60px;
    z-index:40;
    .circle{
      height:68px;
      width:68px;
      display:block;
      background:$index-other-img24 -296px -273px;
      _background:$index-other-img8 -296px -273px;
      // border:2px solid #d5d5d5;
      // border-radius:66px;
      // background-color:#d5d5d5;
    }
  }
}